*, *::before, *::after {
  box-sizing: border-box;  
}

body {
  margin: 2rem auto;
  max-width: 1200px;
  width: 90%;
}

/* applying flex layout to image and paragraph in first two sections */

#section-one-flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.image-wrapper, .para {
  flex: 1 1 400px;
  max-width: 100%;
}

.image-wrapper {
  position: relative;
}

.illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;    
}

/* blue shapes */

.blue-design-element {
  background-color: hsl(231, 69%, 60%);
  position: absolute;
  z-index: -1;
  height: 57vw;
  width: 85vw;
  top: 20%;
}

#design-1 {
  right: -10vw;
  border-radius: 150px 0 0 150px;
} 

#section-two-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

#design-2 {
  left: -12vw;
  border-radius: 0 150px 150px 0;
} 

/* all the media queries for blue shapes */

@media (min-width: 711px) {
  #design-1 {
    height: 57vw;
    width: 84vw;
    border-radius: 200px 0 0 200px;
 }
 #design-2 {
    height: 55vw;
    width: 88vw;
    border-radius: 0 200px 200px 0;
 }
} 

@media (min-width: 956px) {
  #design-1 {
    height: 28vw;
    width: 45vw;
    border-radius: 200px 0 0 200px;
  }
  #design-2 {
    height: 26vw;
    width: 47vw;
    border-radius: 0 200px 200px 0;
  }
}

@media (min-width: 1330px) {
  #design-1 {
    height: 372px;
    width: 600px;
    border-radius: 200px 0 0 200px;
 }
 #design-2 {
    height: 350px;
    width: 600px;
    border-radius: 0 200px 200px 0;
  }
}

/* extensions cards and layouts */

#extensions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(90%, 300px), 1fr));
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
  gap: 30px;
}

.extension-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  border: 1px solid black;
}

#extensions > .extension-container:nth-child(2) {
  align-self: center;
}

#extensions > .extension-container:nth-child(3) {
  align-self: end;
}