*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;  
  font-family: "Rubik", sans-serif;
  font-size: 18px;
}

:root {
  --blue: hsl(231, 69%, 60%);
  --black: hsl(0, 0%, 17%);
  --text: hsl(232, 7%, 57%);
  --red: hsl(0, 94%, 66%);
  --grey: hsl(0, 0%, 95%);
  --shadow: hsl(0, 0%, 88%);
}

body {
  overflow-x: hidden;
}

header, main {
  margin: 2rem auto;
  max-width: 1200px;
  width: 90%;
}

/* added flex layout to buttons in first section */

.button-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

/* tabs styling */

#tabs > :first-child {
  border-top: 1px solid var(--text);
}

.tab {
  background: none;
  border: none;
  border-radius: 0;
  color: var(--text);
  font-size: 18px;
  border-bottom: 1px solid var(--text);
  padding: 1.5em 0;
}

.section-2-tab {
  width: 90%;
}

/* aligning text center/left */

section {
  text-align: center;
}

#section-two-flex .para button {
  display: none;
}

@media (min-width: 956px) {
  .para {
    text-align: left;
  }
  #section-two-flex .para button {
    display: block;
  }
  .button-wrap {
    justify-content: start;
  }
  .section-2-tab {
    width: 15em;
  }
  #tabs > :first-child {
    border-top: none;
  }
}

/* setting color, font size and font weight to text */

p {
  color: var(--text);
}

h1 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--black);
}

h2, h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
}

/* styling the buttons */

button {
  padding: 0.8em 1em;
  border: 1px solid var(--blue);
  border-radius: 0.4rem;
  color: hsl(0, 0%, 97%);
  background-color: var(--blue);
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.white {
  color: hsl(240, 1%, 53%);
  background-color: var(--grey);
  border: 1px solid var(--grey);
  box-shadow: 0.5rem 0.5rem 0.7rem var(--shadow);
}

.red {
  background-color: var(--red);
  border: 1px solid var(--red);
}

/* applying flex layout to image and paragraph in first two sections */

#section-one-flex {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.image-wrapper, .para {
  flex: 1 1 400px;
  max-width: 100%;
}

.image-wrapper {
  position: relative;
}

.illustration {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;    
}

/* blue shapes */

.blue-design-element {
  background-color: var(--blue);
  position: absolute;
  z-index: -1;
  height: 57vw;
  width: 85vw;
  top: 20%;
}

#design-1 {
  right: -10vw;
  border-radius: 150px 0 0 150px;
} 

#section-two-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

#design-2 {
  left: -12vw;
  border-radius: 0 150px 150px 0;
} 

/* all the media queries for blue shapes */

@media (min-width: 711px) {
  #design-1 {
    height: 57vw;
    width: 84vw;
    border-radius: 200px 0 0 200px;
 }
 #design-2 {
    height: 55vw;
    width: 88vw;
    border-radius: 0 200px 200px 0;
 }
} 

@media (min-width: 956px) {
  #design-1 {
    height: 26vw;
    width: 45vw;
    border-radius: 200px 0 0 200px;
  }
  #design-2 {
    height: 26vw;
    width: 47vw;
    border-radius: 0 200px 200px 0;
  }
}

@media (min-width: 1330px) {
  #design-1 {
    height: 360px;
    width: 600px;
    border-radius: 200px 0 0 200px;
 }
 #design-2 {
    height: 350px;
    width: 600px;
    border-radius: 0 200px 200px 0;
  }
}

/* extensions cards and layouts */

#extensions {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(90%, 300px), 1fr));
  max-width: 1000px;
  min-height: 600px;
  margin: 0 auto;
  gap: 30px;
}

.extension-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  border: 1px solid var(--grey);
  box-shadow: 0.1rem 0.1rem 0.8rem var(--shadow);
}

#extensions > .extension-container:nth-child(2) {
  align-self: center;
}

#extensions > .extension-container:nth-child(3) {
  align-self: end;
}

/* faq section */

#faqs {
  width: 90%;
  margin: 0 auto;
}

#faq-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.faq {
  text-align: left;
  color: var(--black);
  font-weight: 450;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 833px) {
  #faqs {
    width: 50%;
  }
}

/* contact us section */

#contact {
  background-color: var(--blue);
  padding: 50px;
}

#contact p, #contact h2 {
  color: var(--grey);
}

input {
  width: 20rem;
  padding: 0.7rem;
}

/* label input and contact us button flex layout */

label {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

@media (max-width: 545px) {
  label button {
    width: 20rem;
  }
}